{% extends "tracking_app/base.html"%}
{% block content %}
{%load static%}
<style>
    .td {
        font-weight: bold;
    }
    .table-responsive {
        overflow-x: auto;
    }
    
    .table-responsive table {
        width: 100%;
        min-width: 100%;
    }
</style>
<br>
<div class='container'>
    <div class="col"></div>
    <div class="col">
        <div class=" text-center">
            <img src="{%static 'visual/gfest.png'%}" alt="" height="71" width="125" style="margin-bottom:20px">
            <h3 style="font-weight: bold;"> Registered participants </h3>
            <br>
            <div class="row">
                {# icon and search-box #}
                <div class="align-center">
                    <i id="search-icon" class="fas fa-search"></i>
                    <input id="user-input" placeholder="Search">
                </div>

                <div id="replaceable-content" class=" col allign-content-center">
                    {% include 'tracking_app/participants-results-partial.html' %}
                </div>

            </div>
            
        </div>
    </div>
    <div class="col"></div>
    
</div>

{% endblock content%}